/ {
	compatible = "realtek,rtd1295";
	interrupt-parent = <&gic>;
	#address-cells = <1>;
	#size-cells = <1>;

    aliases {
		serial0 = &uart0;
	};
    
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		A53_0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x0>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x9801AA44>;
			next-level-cache = <&a53_l2>;
		};

		A53_1: cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x1>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x9801AA44>;
			next-level-cache = <&a53_l2>;
		};

		A53_2: cpu@2 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x02>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x9801AA44>;
			next-level-cache = <&a53_l2>;
		};

		A53_3: cpu@3 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x03>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x9801AA44>;
			next-level-cache = <&a53_l2>;
		};

		a53_l2: l2-cache {
			compatible = "cache";
		};
	};

	soc@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0x98000000 0x70000>;
		compatible = "simple-bus";
		device_type = "soc";
		ranges;
	};

	arch_timer {
		compatible = "arm,armv8-timer";
		interrupts = <1 13 0xf08>,
			<1 14 0xf08>,
			<1 11 0xf08>,
			<1 10 0xf08>;
		clock-frequency = <27000000>;
	};

	gic: interrupt-controller@FF010000 {
		compatible = "arm,cortex-a15-gic";
		#interrupt-cells = <3>;
		interrupt-controller;
		reg = <0xFF011000 0x1000>,
			<0xFF012000 0x1000>;
	};

    uart0: serial0@98007800 {
		compatible = "snps,dw-apb-uart";
		reg = <0x98007800 0x400>,
			<0x98007000 0x100>;
		interrupts-st-mask = <0x4>;
		interrupts = <1 2>;
		reg-shift = <2>;
		reg-io-width = <4>;
		status = "okay";
	};

    sb2: sb2@9801a000 {
		compatible = "realtek,rtd1295-sysbrg2", "syscon", "simple-mfd";
		reg = <0x9801a000 0x1000>;
		ranges = <0x0 0x9801a000 0x1000>;
		#address-cells = <1>;
		#size-cells = <1>;
	};

};

&sb2 {
	sb2_lock0: sb2-lock@0 {
		compatible = "realtek,sb2-sem";
		reg = <0x0 0x4>;
	};

	inv@4 {
		compatible = "realtek,sysbrg2-inv";
		reg = <0x4 0x10>;
		interrupts = <0 36 4>;
		status = "okay";
	};

	dbg@458 {
		compatible = "realtek,sysbrg2-dbg";
		reg = <0x458 0x8c>;
		interrupts = <0 36 4>;
		status = "okay";
	};

	sb2_lock1: sb2-lock@620 {
		compatible = "realtek,sb2-sem";
		reg = <0x620 0x4>;
	};

	sb2_lock2: sb2-lock@624 {
		compatible = "realtek,sb2-sem";
		reg = <0x624 0x4>;
	};

	sb2_lock3: sb2-lock@628 {
		compatible = "realtek,sb2-sem";
		reg = <0x628 0x4>;
	};

	sb2_lock4: sb2-lock@62c {
		compatible = "realtek,sb2-sem";
		reg = <0x62c 0x4>;
	};

	sb2_lock5: sb2-lock@630 {
		compatible = "realtek,sb2-sem";
		reg = <0x630 0x4>;
	};

	sb2_lock6: sb2-lock@634 {
		compatible = "realtek,sb2-sem";
		reg = <0x634 0x4>;
	};

	sb2_lock7: sb2-lock@638 {
		compatible = "realtek,sb2-sem";
		reg = <0x638 0x4>;
	};

	sb2_lock_avlog: sb2_lock8: sb2-lock@63c {
		compatible = "realtek,sb2-sem", "realtek,sb2-sem-avlog";
		reg = <0x63c 0x4>;
	};
};