#include <dt-bindings/clock/rtd1295-clk.h>
#include <dt-bindings/reset/rtd1295-reset.h>

/ {
	compatible = "realtek,rtd1295";
	interrupt-parent = <&gic>;
	#address-cells = <1>;
	#size-cells = <1>;

    aliases {
		serial0 = &uart0;
	};
    
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		A53_0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x0>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x9801AA44>;
			next-level-cache = <&a53_l2>;
		};

		A53_1: cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x1>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x9801AA44>;
			next-level-cache = <&a53_l2>;
		};

		A53_2: cpu@2 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x02>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x9801AA44>;
			next-level-cache = <&a53_l2>;
		};

		A53_3: cpu@3 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x03>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x9801AA44>;
			next-level-cache = <&a53_l2>;
		};

		a53_l2: l2-cache {
			compatible = "cache";
		};
	};

	soc@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0x98000000 0x70000>;
		compatible = "simple-bus";
		device_type = "soc";
		ranges;
	};

	arch_timer {
		compatible = "arm,armv8-timer";
		interrupts = <1 13 0xf08>,
			<1 14 0xf08>,
			<1 11 0xf08>,
			<1 10 0xf08>;
		clock-frequency = <27000000>;
	};

	gic: interrupt-controller@FF010000 {
		compatible = "arm,cortex-a15-gic";
		#interrupt-cells = <3>;
		interrupt-controller;
		reg = <0xFF011000 0x1000>,
			<0xFF012000 0x1000>;
	};

    uart0: serial0@98007800 {
		compatible = "snps,dw-apb-uart";
        interrupt-parent = <&mux_intc>;
		reg = <0x98007800 0x400>,
			<0x98007000 0x100>;
		interrupts-st-mask = <0x4>;
		interrupts = <1 2>;
        pinctrl-names = "default";
		pinctrl-0 = <&uart0_pins>;
		reg-shift = <2>;
		reg-io-width = <4>;
        clock-names = "apb_pclk";
		clocks = <&ic RTD1295_ISO_CLK_EN_UR0>;
		clock-frequency = <27000000>; /* This value must be override by the board. */
		status = "okay";
	};

    nic: gmac@98016000 {
		compatible = "Realtek,r8168";
		reg = <0x98016000 0x1000>,
			<0x98007000 0x1000>;
		interrupts = <0 22 4>;
		pinctrl-names = "default";
		pinctrl-0 = <&rgmii0_pins>,
			<&etn_led_pins>;
		rtl-config = <1>;
		mac-version = <42>; /* RTL_GIGA_MAC_VER_42 */
		rtl-features = <2>; /* BIT(2) GMii */
		output-mode = <0>; /* 0:embedded PHY, 1:RGMII to MAC, 2:RGMII to PHY */
		rgmii-voltage = <1>; /* 1:1.8V, 2: 2.5V, 3:3.3V */
		rgmii-tx-delay = <0>; /* 0: 0ns, 1: 2ns */
		rgmii-rx-delay = <0>; /* 0: 0ns, 1: 2ns */
		ext-phy-id = <1>; /* 0 ~ 31, only valid when output-mode = 2 */
		eee = <1>; /* KDP-1095: Enable Energy efficient Ethernet */ 
		clocks = <&ic RTD1295_ISO_CLK_EN_ETN_250M>,
			<&ic RTD1295_ISO_CLK_EN_ETN_SYS>;
		clock-names = "etn_250m",
			"etn_sys";
		resets = <&ic RTD1295_ISO_RSTN_GMAC>,
			<&ic RTD1295_ISO_RSTN_GPHY>;
		reset-names = "gmac",
			"gphy";
		status = "okay";
	};

    mux_intc: intc@9801B000 {
		compatible = "Realtek,rtk-irq-mux";
		Realtek,mux-nr = <2>;
		#interrupt-cells = <2>;
		interrupt-controller;
		reg = <0x9801B000 0x100>, /* MISC_TOP MISC_ISO */
			<0x98007000 0x100>;
		interrupts = <0 40 4>, <0 41 4>;
		intr-status = <0xc>, <0x0>;
		intr-en = <0x80>, <0x40>;
		status = "okay";
	};

    pinctrl: pinctrl@9801A000 {
		compatible = "realtek,rtk129x-pinctrl";
		reg = <0x9801A000 0x97c>,
			<0x9804d000 0x010>,
			<0x98012000 0x640>,
			<0x98007000 0x340>;
		#gpio-range-cells = <3>;
		pinctrl-names = "default";
		pinctrl-0 =
			<&spi_pins_loc_gpio>;
		status = "okay";

        spi_pins_loc_gpio: spi_pins_loc_gpio {
			realtek,pins = "gpio_0",
				"gpio_1",
				"gpio_2",
				"gpio_3",
				"sf_en";
			realtek,function = "gpio";
		};

        uart0_pins: uart0_pins {
			realtek,pins = "ur0_rx",
				"ur0_tx";
			realtek,function = "uart0";
		};

        rgmii0_pins: rgmii0_pins {
			realtek,pins = "rgmii0_txc",
				"rgmii0_tx_ctl",
				"rgmii0_txd_0",
				"rgmii0_txd_1",
				"rgmii0_txd_2",
				"rgmii0_txd_3",
				"rgmii0_rxc",
				"rgmii0_rx_ctl",
				"rgmii0_rxd_0",
				"rgmii0_rxd_1",
				"rgmii0_rxd_2",
				"rgmii0_rxd_3",
				"rgmii0_mdio",
				"rgmii0_mdc";
			realtek,function = "rgmii";
		};

        etn_led_pins: etn_led_pins {
			realtek,pins = "etn_led_link",
				"etn_led_rxtx";
			realtek,function = "etn_led";
		};
	};

    iso: iso@98007000 {
		reg = <0x98007000 0x1000>;
		compatible = "syscon", "simple-mfd";
		ranges = <0x0 0x98007000 0x1000>;
		#address-cells = <1>;
		#size-cells = <1>;
	};

    sb2: sb2@9801a000 {
		compatible = "realtek,rtd1295-sysbrg2", "syscon", "simple-mfd";
		reg = <0x9801a000 0x1000>;
		ranges = <0x0 0x9801a000 0x1000>;
		#address-cells = <1>;
		#size-cells = <1>;
	};

};

&iso {

	ic: clock-controller {
		compatible = "realtek,rtd1295-iso-clk";
		#clock-cells = <1>;
		#reset-cells = <1>;
	};

	reboot-mode@640 {
		compatible = "realtek,reboot-mode";
		reg = <0x640 0x4>;
		status = "okay";
	};

	reboot@680 {
		compatible = "realtek,reboot";
		reg = <0x680 0x48>;
		rst-oe = <0>;
		rst-oe-for-init = <0>;
		status = "okay";
	};
};

&sb2 {
	sb2_lock0: sb2-lock@0 {
		compatible = "realtek,sb2-sem";
		reg = <0x0 0x4>;
	};

	inv@4 {
		compatible = "realtek,sysbrg2-inv";
		reg = <0x4 0x10>;
		interrupts = <0 36 4>;
		status = "okay";
	};

	dbg@458 {
		compatible = "realtek,sysbrg2-dbg";
		reg = <0x458 0x8c>;
		interrupts = <0 36 4>;
		status = "okay";
	};

	sb2_lock1: sb2-lock@620 {
		compatible = "realtek,sb2-sem";
		reg = <0x620 0x4>;
	};

	sb2_lock2: sb2-lock@624 {
		compatible = "realtek,sb2-sem";
		reg = <0x624 0x4>;
	};

	sb2_lock3: sb2-lock@628 {
		compatible = "realtek,sb2-sem";
		reg = <0x628 0x4>;
	};

	sb2_lock4: sb2-lock@62c {
		compatible = "realtek,sb2-sem";
		reg = <0x62c 0x4>;
	};

	sb2_lock5: sb2-lock@630 {
		compatible = "realtek,sb2-sem";
		reg = <0x630 0x4>;
	};

	sb2_lock6: sb2-lock@634 {
		compatible = "realtek,sb2-sem";
		reg = <0x634 0x4>;
	};

	sb2_lock7: sb2-lock@638 {
		compatible = "realtek,sb2-sem";
		reg = <0x638 0x4>;
	};

	sb2_lock_avlog: sb2_lock8: sb2-lock@63c {
		compatible = "realtek,sb2-sem", "realtek,sb2-sem-avlog";
		reg = <0x63c 0x4>;
	};
};