#include <dt-bindings/clock/rtd1295-clk.h>
#include <dt-bindings/reset/rtd1295-reset.h>

/ {
	compatible = "realtek,rtd1295";
	interrupt-parent = <&gic>;
	#address-cells = <1>;
	#size-cells = <1>;

    aliases {
		serial0 = &uart0;
        i2c0 = &i2c_0;
	};
    
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		A53_0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x0>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x9801AA44>;
			next-level-cache = <&a53_l2>;
		};

		A53_1: cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x1>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x9801AA44>;
			next-level-cache = <&a53_l2>;
		};

		A53_2: cpu@2 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x02>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x9801AA44>;
			next-level-cache = <&a53_l2>;
		};

		A53_3: cpu@3 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x03>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x9801AA44>;
			next-level-cache = <&a53_l2>;
		};

		a53_l2: l2-cache {
			compatible = "cache";
		};
	};

	soc@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0x98000000 0x70000>;
		compatible = "simple-bus";
		device_type = "soc";
		ranges;
	};

	arch_timer {
		compatible = "arm,armv8-timer";
		interrupts = <1 13 0xf08>,
			<1 14 0xf08>,
			<1 11 0xf08>,
			<1 10 0xf08>;
		clock-frequency = <27000000>;
	};

	gic: interrupt-controller@FF010000 {
		compatible = "arm,cortex-a15-gic";
		#interrupt-cells = <3>;
		interrupt-controller;
		reg = <0xFF011000 0x1000>,
			<0xFF012000 0x1000>;
	};

    uart0: serial0@98007800 {
		compatible = "snps,dw-apb-uart";
        interrupt-parent = <&mux_intc>;
		reg = <0x98007800 0x400>,
			<0x98007000 0x100>;
		interrupts-st-mask = <0x4>;
		interrupts = <1 2>;
        pinctrl-names = "default";
		pinctrl-0 = <&uart0_pins>;
		reg-shift = <2>;
		reg-io-width = <4>;
        clock-names = "apb_pclk";
		clocks = <&ic RTD1295_ISO_CLK_EN_UR0>;
		clock-frequency = <27000000>; /* This value must be override by the board. */
		status = "okay";
	};

    nic: gmac@98016000 {
		compatible = "Realtek,r8168";
		reg = <0x98016000 0x1000>,
			<0x98007000 0x1000>;
		interrupts = <0 22 4>;
		pinctrl-names = "default";
		pinctrl-0 = <&rgmii0_pins>,
			<&etn_led_pins>;
		rtl-config = <1>;
		mac-version = <42>; /* RTL_GIGA_MAC_VER_42 */
		rtl-features = <2>; /* BIT(2) GMii */
		output-mode = <0>; /* 0:embedded PHY, 1:RGMII to MAC, 2:RGMII to PHY */
		rgmii-voltage = <1>; /* 1:1.8V, 2: 2.5V, 3:3.3V */
		rgmii-tx-delay = <0>; /* 0: 0ns, 1: 2ns */
		rgmii-rx-delay = <0>; /* 0: 0ns, 1: 2ns */
		ext-phy-id = <1>; /* 0 ~ 31, only valid when output-mode = 2 */
		eee = <1>; /* KDP-1095: Enable Energy efficient Ethernet */ 
		clocks = <&ic RTD1295_ISO_CLK_EN_ETN_250M>,
			<&ic RTD1295_ISO_CLK_EN_ETN_SYS>;
		clock-names = "etn_250m",
			"etn_sys";
		resets = <&ic RTD1295_ISO_RSTN_GMAC>,
			<&ic RTD1295_ISO_RSTN_GPHY>;
		reset-names = "gmac",
			"gphy";
		status = "okay";
	};

    mux_intc: intc@9801B000 {
		compatible = "Realtek,rtk-irq-mux";
		Realtek,mux-nr = <2>;
		#interrupt-cells = <2>;
		interrupt-controller;
		reg = <0x9801B000 0x100>, /* MISC_TOP MISC_ISO */
			<0x98007000 0x100>;
		interrupts = <0 40 4>, <0 41 4>;
		intr-status = <0xc>, <0x0>;
		intr-en = <0x80>, <0x40>;
		status = "okay";
	};

    pinctrl: pinctrl@9801A000 {
		compatible = "realtek,rtk129x-pinctrl";
		reg = <0x9801A000 0x97c>,
			<0x9804d000 0x010>,
			<0x98012000 0x640>,
			<0x98007000 0x340>;
		#gpio-range-cells = <3>;
		pinctrl-names = "default";
		pinctrl-0 =
			<&spi_pins_loc_gpio>;
		status = "okay";

        spi_pins_loc_gpio: spi_pins_loc_gpio {
			realtek,pins = "gpio_0",
				"gpio_1",
				"gpio_2",
				"gpio_3",
				"sf_en";
			realtek,function = "gpio";
		};

        uart0_pins: uart0_pins {
			realtek,pins = "ur0_rx",
				"ur0_tx";
			realtek,function = "uart0";
		};

        i2c_pins_0: i2c_pins_0 {
			realtek,pins = "i2c_scl_0",
				"i2c_sda_0";
			realtek,function = "i2c0";
		};

        rgmii0_pins: rgmii0_pins {
			realtek,pins = "rgmii0_txc",
				"rgmii0_tx_ctl",
				"rgmii0_txd_0",
				"rgmii0_txd_1",
				"rgmii0_txd_2",
				"rgmii0_txd_3",
				"rgmii0_rxc",
				"rgmii0_rx_ctl",
				"rgmii0_rxd_0",
				"rgmii0_rxd_1",
				"rgmii0_rxd_2",
				"rgmii0_rxd_3",
				"rgmii0_mdio",
				"rgmii0_mdc";
			realtek,function = "rgmii";
		};

        etn_led_pins: etn_led_pins {
			realtek,pins = "etn_led_link",
				"etn_led_rxtx";
			realtek,function = "etn_led";
		};
	};

    iso: iso@98007000 {
		reg = <0x98007000 0x1000>;
		compatible = "syscon", "simple-mfd";
		ranges = <0x0 0x98007000 0x1000>;
		#address-cells = <1>;
		#size-cells = <1>;
	};

    sb2: sb2@9801a000 {
		compatible = "realtek,rtd1295-sysbrg2", "syscon", "simple-mfd";
		reg = <0x9801a000 0x1000>;
		ranges = <0x0 0x9801a000 0x1000>;
		#address-cells = <1>;
		#size-cells = <1>;
	};

	rtk_misc_gpio: rtk_misc_gpio@9801b100 {
		compatible = "realtek,rtk-misc-gpio-irq-mux";
		gpio-controller;
		#gpio-cells = <3>; /*must be the same with gpiochip.of_gpio_n_cells*/
		Realtek,gpio_base = <0>;
		Realtek,gpio_numbers = <101>;
		interrupt-parent = <&mux_intc>;
		#interrupt-cells = <1>;
		interrupt-controller;
		interrupts = <0 19>, <0 20>; /*GPIOA_INT   GPIODA_INT*/
		reg = <0x9801b000 0x100>,
			<0x9801b100 0x100>; /* MISC_SYS MISC_GPIO*/
		gpio-ranges = <&pinctrl 0 0 101>;
		status = "okay";
	};

	rtk_iso_gpio: rtk_iso_gpio@98007100 {
		compatible = "realtek,rtk-iso-gpio-irq-mux";
		gpio-controller;
		#gpio-cells = <3>;
		Realtek,gpio_base = <101>;
		Realtek,gpio_numbers = <35>;
		interrupt-parent = <&mux_intc>;
		#interrupt-cells = <1>;
		interrupt-controller;
		interrupts = <1 19>, <1 20>; /*GPIOA_INT   GPIODA_INT*/
		reg = <0x98007000 0x100>,
			<0x98007100 0x100>; /* ISO_SYS ISO_GPIO*/
		gpio-ranges = <&pinctrl 0 101 35>;
		status = "okay";
	};

    sata_phy: sata_phy@9803FF60 {
        compatible = "Realtek,rtk-sata-phy";
		reg = <0x9803FF00 0x100>, <0x9801a980 0x10>;
		#address-cells = <1>;
		#size-cells = <0>;
		#phy-cells = <1>;
		status = "okay";
		sata-phy@0 {
			reg = <0>;
			resets = <&cc RTD1295_CRT_RSTN_SATA_PHY_POW_0>;
			reset-names = "rstn_sata_phy_pow_0";
			spread-spectrum = <0>;
			phy-param = <0x00001111>, <0x00005111>, <0x00009111>,
					<0x336a0511>, <0x336a4511>, <0x336a8511>,
					<0xE0700111>, <0xE05C4111>, <0xE04A8111>,
					<0x00150611>, <0x00154611>, <0x00158611>,
					<0xC6000A11>, <0xC6004A11>, <0xC6008A11>,
					<0x70000211>, <0x70004211>, <0x70008211>,
					<0xC6600A11>, <0xC6604A11>, <0xC6608A11>,
					<0x20041911>, <0x20045911>, <0x20049911>,
					<0x94aa2011>, <0x94aa6011>, <0x94aaa011>,
					<0x17171511>, <0x17175511>, <0x17179511>,
					<0x07701611>, <0x07705611>, <0x07709611>,
					<0x40002a11>, <0x40006a11>, <0x4000aa11>,
					<0x27710311>, <0x27684311>, <0x27648311>,
					<0x29001011>, <0x29005011>, <0x29009011>,
					<0x40000C11>, <0x40004C11>, <0x40008C11>,
					<0x00271711>, <0x00275711>, <0x00279711>;
			/delete-property/ phy-param;
			tx-driving = <2>;

			tx-driving-tbl = // user can define tx driving here //
					<0x94a72011>, <0x94a76011>, <0x94a7a011>,
					<0x587a2111>, <0x587a6111>, <0x587aa111>;
			/delete-property/ tx-driving-tbl;
		};
	};

	ahci_sata: sata@9803F000 {
        compatible = "Realtek,ahci-sata";
		reg = <0x9803F000 0x1000>;
		interrupts = <0 28 4>;
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		clocks = <&cc RTD1295_CRT_CLK_EN_SATA_0>, <&cc RTD1295_CRT_CLK_EN_SATA_ALIVE_0>;
		sata-port@0 {
			reg = <0>;
			phys = <&sata_phy 0>;
			resets = <&cc RTD1295_CRT_RSTN_SATA_0>,
				 <&cc RTD1295_CRT_RSTN_SATA_PHY_0>;
			reset-names = "rstn_sata_0",
				      "rstn_sata_phy_0";
			gpios = <&rtk_misc_gpio 16 1 1>;
		};
	};

    crt: crt@98000000 {
		reg = <0x98000000 0x1000>;
		compatible = "realtek,rtd1295-crt", "syscon", "simple-mfd";
		ranges = <0x0 0x98000000 0x1000>;
		#address-cells = <1>;
		#size-cells = <1>;
	};

    i2c_0: i2c@0x98007D00 {
		compatible = "realtek,rtk-i2c";
		reg = <0x98007D00 0x100>,
			<0x98007000 0x100>;
		interrupt-parent = <&mux_intc>;
		interrupts = <1 8>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c_pins_0>;
		i2c-num = <0>;
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		clocks = <&ic RTD1295_ISO_CLK_EN_I2C0>;
		resets = <&ic RTD1295_ISO_RSTN_I2C_0>;
	};
};

&crt {
	cc: clock-controller {
		compatible = "realtek,rtd1295-crt-clk";
		#clock-cells = <1>;
		#reset-cells = <1>;
		realtek,sb2-lock = <&sb2_lock0>;
	};
};

&iso {

	ic: clock-controller {
		compatible = "realtek,rtd1295-iso-clk";
		#clock-cells = <1>;
		#reset-cells = <1>;
	};

	reboot-mode@640 {
		compatible = "realtek,reboot-mode";
		reg = <0x640 0x4>;
		status = "okay";
	};

	reboot@680 {
		compatible = "realtek,reboot";
		reg = <0x680 0x48>;
		rst-oe = <0>;
		rst-oe-for-init = <0>;
		status = "okay";
	};
};

&sb2 {
	sb2_lock0: sb2-lock@0 {
		compatible = "realtek,sb2-sem";
		reg = <0x0 0x4>;
	};

	inv@4 {
		compatible = "realtek,sysbrg2-inv";
		reg = <0x4 0x10>;
		interrupts = <0 36 4>;
		status = "okay";
	};

	dbg@458 {
		compatible = "realtek,sysbrg2-dbg";
		reg = <0x458 0x8c>;
		interrupts = <0 36 4>;
		status = "okay";
	};

	sb2_lock1: sb2-lock@620 {
		compatible = "realtek,sb2-sem";
		reg = <0x620 0x4>;
	};

	sb2_lock2: sb2-lock@624 {
		compatible = "realtek,sb2-sem";
		reg = <0x624 0x4>;
	};

	sb2_lock3: sb2-lock@628 {
		compatible = "realtek,sb2-sem";
		reg = <0x628 0x4>;
	};

	sb2_lock4: sb2-lock@62c {
		compatible = "realtek,sb2-sem";
		reg = <0x62c 0x4>;
	};

	sb2_lock5: sb2-lock@630 {
		compatible = "realtek,sb2-sem";
		reg = <0x630 0x4>;
	};

	sb2_lock6: sb2-lock@634 {
		compatible = "realtek,sb2-sem";
		reg = <0x634 0x4>;
	};

	sb2_lock7: sb2-lock@638 {
		compatible = "realtek,sb2-sem";
		reg = <0x638 0x4>;
	};

	sb2_lock_avlog: sb2_lock8: sb2-lock@63c {
		compatible = "realtek,sb2-sem", "realtek,sb2-sem-avlog";
		reg = <0x63c 0x4>;
	};
};